# Ignore build results
bin/
obj/

# Ignore user-specific files
.vs/
.vscode/
.idea/

# Ignore NuGet packages
*.nupkg
.nuget/

# Ignore temporary files
*.log
*.tmp

# Ignore ASP.NET files
appsettings.json
appsettings.Development.json

# Ignore database
*GameStore.db
GameStore.db-shm
GameStore.db-wal

.DS_Store

